.draftJsToolbar__buttonWrapper__1Dmqh {
  display: inline-block;
}

.draftJsToolbar__button__qi1gf {
  color: #111;
  font-size: 18px;
  border: 0;
  padding: 5px;
  width: 40px;
  height: 40px;
  vertical-align: bottom;
  background: none;
}

.draftJsToolbar__button__qi1gf svg {
  fill: #111;
  vertical-align: middle;
}

.draftJsToolbar__button__qi1gf:hover, .draftJsToolbar__button__qi1gf:focus {
  outline: 0; /* reset for :focus */
}

.draftJsToolbar__active__3qcpF {
  color: #444;
}

.draftJsToolbar__active__3qcpF svg {
  fill: #77E1A3;
}
.draftJsToolbar__separator__3U7qt {
  display: inline-block;
  border-right: 1px solid #ddd;
  height: 24px;
  margin: 0 0.5em;
}
.draftJsToolbar__toolbar__dNtBH {
  visibility: hidden;
  left: 50%;
  transform: translate(-50%) scale(0);
  position: absolute;
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0, .1);
  box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.1);
  border-radius: 40px;
  padding: 0px 8px;
  z-index: 2;
  box-sizing: border-box;
}

.draftJsToolbar__toolbar__dNtBH:after, .draftJsToolbar__toolbar__dNtBH:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.draftJsToolbar__toolbar__dNtBH:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 4px;
  margin-left: -4px;
}
.draftJsToolbar__toolbar__dNtBH:before {
  border-color: rgba(221, 221, 221, 0);
  border-top-color: #ddd;
  border-width: 6px;
  margin-left: -6px;
}
